@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-Light.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
    url('../fonts/Poppins/Poppins-Thin.ttf') format('truetype');

}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype'),
    url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
}
:root {
    --color-grey: #eaeaea;
    --color-blue: #4868b1;
    --color-green: #58a13f;
    --color-dark-grey: #8d8d8d;
    --color-print-black: #555555;
    --progress-bar-width: 50mm;
    --main-gradient: linear-gradient(90deg, var(--color-blue) 0%, var(--color-green) 100%);
    --color-red: red;
    --color-orange: orange;
    --color-semi-transparent: rgba(255,255,255,0.4)
}

.circle {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    transform: rotate(180deg)
}

.circle > div {
    z-index: 1;
    transform: rotate(180deg)
}

@page {
    margin: 0;
}
body * {
    display: block;
}
tr {
    width: 100%
}

.col {
    display: inline-block;
}

.footer {
    padding-top: 5mm;
    border-top: 3px var(--color-grey) solid;
    position: fixed;
    bottom: 0;
    width: 210mm;
    background-color: white;
    z-index: 2000;
    height: 22mm;
}
.footer td {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--color-dark-grey);
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
}

.half-page {
    width: 103.5mm;
}

.quater-page {
    width: 24%
}

.links {
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    font-weight: 600;
    color: var(--color-dark-grey);
}

.font-poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.logo {
    height: 10mm;
    width: 10mm;
}

body {
    font-size: 24px;
    font-style: normal;
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 10mm 20mm 0 ;
    color: black;
}
#full-width-page {
    width: 250mm;
    margin: 0;
    padding: 10mm 0 0 ;
}

#full-width-page .indoc-header, #full-width-page .footer {
    margin-left: 20mm;
    margin-right: 20mm;
}

body.first-page {
    font-size: 24px;
    font-style: normal;
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
}

#proctor-notes {
    position: relative;
    font-size: 16px;
    margin-bottom: 3mm;
    font-weight: 600
}

#proctor-notes svg {
    position: absolute;
    width: 40px;
    top: -40px;
    right: -20px;
}

.first-page .header {
    width: 100%;
    display: block;
    height: 220mm;
    padding: 10mm 20mm;
    overflow: hidden;
}

.first-page .header tbody {
    width: 100%;
    display: block;
}

.first-page #logo {
    height: 80px;
    margin-bottom: 80px;
    position: relative;
    display: block;
    left: 115mm;
}

.indoc-header {
    margin: 10mm 19mm 5mm 0;
    width: 210mm;
}
.partial-score-charts {
    margin-top:5mm;
    margin-bottom: 5mm;
}

.subject.math {
    width: 58.5mm;
}


.labels {
    position: relative;
    padding-bottom: 5mm;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 2mm;
}

.labels span {
    width: 31px;
    height: 130px;
    align-items: center;
}

.labels span span {
    transform: translate(-50px, 50px) rotate(270deg) ;
    width: 130px;
    height: 31px;
    align-self: center;
}

.math .question-row span:nth-child(2), .math .labels span:nth-child(2) {
    width: 18mm;
}
.math .question-row span:nth-child(3), .math .labels span:nth-child(3) {
    width: 12mm;

}

.math .labels span:nth-child(2) span{
    padding-top:5mm;
    padding-left: 5mm;
}

.labels span:nth-child(3) span {
    padding-top: 1mm;
    padding-left: 1mm;
}

.math .labels span:nth-child(3) span {
    padding-left: 3mm;
    padding-top: 3mm
}

.labels span:last-child span {
    padding-top: 4mm;
    padding-left: 4mm;
}

.column-header {
    padding: 3mm 2mm 0 ;
    margin-bottom: 0;
}

.subject {
    min-width: 45mm;
    color: var(--color-dark-grey);
    border: 0;
}

.subject h3 {
    text-align: center;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
}

.questions-container {
    padding: 5mm 1mm 5mm 3mm;
    border-top: var(--color-dark-grey) 2px solid;
    margin-top: 0;
}


